:root {
    --main-text-color: #000;
    --secondary-link-color: #0050B2;
    --white-color: #fff;
    --fotogallery-bg-color: rgba(63, 169, 245, 0.07);
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1150px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* categories */

.categories {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: var(--main-text-color);
}

.categories-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -32px;
    margin-bottom: -32px;
    padding-top: 48px;
    padding-bottom: 64px;
}

.categories-list-items {
    width: 256px;
    margin-right: 32px;
    margin-bottom: 32px;

    border: 1px solid #d9d9d9;
    border-radius: 6px;

    overflow: hidden;
}

.categories-link {
    color: var(--main-text-color)
}

.categories-wrapper {
    margin-top: 14px;
    margin-left: 20px;
    margin-bottom: 16px;
}

/* fotogallery */

.fotogallery {
    padding-top: 44px;
    padding-bottom: 80px;

    background: var(--fotogallery-bg-color);
}

.fotogallery-title {
    font-family: 'PT Serif', serif;
    font-size: 30px;
    line-height: 1.3;
}

.fotogallery-link {
    font-size: 16px;
    line-height: 1.19;

    color: var(--secondary-link-color);

    text-decoration-line: underline;
}

.fotogallery-topbox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 52px;
}

.fotogallery-link-btn {
    display: flex;
    align-items: center;
    
}

.fotogallery-btn-list {
    display: flex;
    margin-left: 55px;
}

.fotogallery-btn {
    width: 44px;
    height: 44px;
    border-radius: 50%;

    background-color: var(--white-color);
}

.fotogallery-btn-item:not(:last-child) {
    margin-right: 16px;
}

.fotogallery-list {
    display: flex;
    flex-wrap: wrap;
}

.fotogallery-list-item {
    width: 352px;
    margin-right: 32px;
    margin-bottom: 32px;
}

.fotogallery-list-item:nth-child(3n) {
    margin-right: 0;
}

.fotogallery-list-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}
