:root {
    --main-text-color: #000;
    --secondary-link-color: #0050B2;
    --white-color: #fff;
    --secondary-text-color: #333333;
    --footer-bg-color: #202020;

    --fotogallery-bg-color: rgba(63, 169, 245, 0.07);
    --main-font-family: 'Roboto', sans-serif;
    --secondary-font-familt: 'PT Serif', serif;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1150px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* header */

.header {
    position: relative;
}

.header::before {
    content: "";
    position: absolute;
    top: 81px;
    left: 0px;
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba(196, 196, 196, 1);
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: teal;
}

.header-accent-text {
    display: block;
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.3;
}

.header-text {
    font-size: 18px;
    line-height: 1.3;
    margin-left: 20px;
    color: white;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-contact {
    display: flex;
}

.header-nav-lists {
    display: flex;
}

.header-wraper {
    display: flex;
    align-items: center;
}

.header-phone {
    margin-right: 33px;
}

.header-call-btn {
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    margin-left: 45px;


    width: 186px;
    height: 44px;

    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 22px;
    background-color: transparent;
    color: white;
}

.header-contact a {
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    color: white;

}


/* categories */

.categories {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: var(--main-text-color);
}

.categories-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -32px;
    margin-bottom: -32px;
    padding-top: 48px;
    padding-bottom: 64px;
}

.categories-list-items {
    width: 256px;
    margin-right: 32px;
    margin-bottom: 32px;

    border: 1px solid #d9d9d9;
    border-radius: 6px;

    overflow: hidden;
}

.categories-link {
    color: var(--main-text-color)
}

.categories-wrapper {
    margin-top: 14px;
    margin-left: 20px;
    margin-bottom: 16px;
}

/* direction */

.direction {
    background-color: rgba(112, 207, 41, 0.07);
    padding: 37px 87px;
    margin-bottom: 69px;
}

.direction-title {
    margin-bottom: 50px;

    font-family: var(--secondary-font-familt);
    font-size: 30px;
    line-height: 1.3;

    text-align: center;
}

.direction-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 33px 37px;
}

.direction-text {
    font-family: var(--main-font-family);

    font-size: 16px;
    line-height: 1.6;

    color: #333333;
}

/* Популярные предложения */
.offer {
    padding-right: 76px;
    padding-bottom: 80px;
}

.offer .container {
    position: relative;
}

.offer-title {
    margin-bottom: 40px;
    font-family: var(--secondary-font-familt);
    font-size: 30px;
    line-height: 1.34;

    color: var(--main-text-color);
}

.offer-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
}

.offer-card {
    /* margin-right: 32px;
    margin-bottom: 32px;
    width: 256px;
    height: 256px; */
    
}

.offer-card:nth-child(3) {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.offer-link {
    position: relative;
    display: inline-block;

    border-radius: 6px;
    overflow: hidden;
}

.offer-link:hover,
.offer-link:focus,
.offer-all-offers:hover,
.offer-all-offers:focus {
    transform: scale(1.05);
    transition: transfotm 250ms linear;
}

.offer-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,#000000 0%,#FFFFFF 48.44%,#FFFFFF 76.04%,#000000 100%);
    mix-blend-mode: multiply;
    opacity: 0.7;
    border-radius: 6px;
}

.offer-card-img {

}

.offer-card-title {
    position: absolute;
    top: 16px;
    left: 16px;
    right: 20px;

    font-weight: 500;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.06em;

    color: #FFFFFF;
}

.offer-card-price {
    position: absolute;
    bottom: 18px;
    left: 16px;
    right: 20px;

    font-size: 16px;
    line-height: 1.3;

    color: #FFFFFF;
}

.offer-all-offers {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 3px;
    right: 15px;
    width: 256px;
    height: 256px;

    font-weight: 500;
    font-size: 24px;
    line-height: 1.3;

    color: var(--white-color);

    background-image: url(../images/bereg.jpg);
}

.offer-all-offers-text {
    display: block;
    text-align: center;
}


/* О Байкале */

.about {
    
    /* position: relative; */
    padding-top: 70px;
    padding-bottom: 80px;
}

.about .container {
    display: flex;
}

.about-block {
    width: 448px;
    margin-right: 32px;
}

.about-title {
    font-family: var(--secondary-font-familt);
    font-size: 30px;
    line-height: 1.34;

    color: var(--main-text-color);
}

.about-text {
    font-size: 18px;
    line-height: 1.4;

    color: var(--secondary-text-color);
}

.about-label {
    font-size: 16px;
    line-height: 1.85;
    
    text-decoration-line: underline;

    color: #76767A;
}

.about-text.checked {
    display: none;
}

.about-check:checked+.about-text.checked {
    display: block;
}

.about-check:checked~.about-label .read-more  {
    display: none;
}

.about-check:checked~.about-label .read-less {
    display: block;
}

.read-less {
    display: none;
}

.about-video {
    /* position: absolute; */
    width: 640px;
    height: 380px;

    background: #000000;
    
}


/* fotogallery */

.fotogallery {
    padding-top: 44px;
    padding-bottom: 80px;

    background: var(--fotogallery-bg-color);
}

.fotogallery-title {
    font-family: 'PT Serif', serif;
    font-size: 30px;
    line-height: 1.3;
}

.fotogallery-link {
    font-size: 16px;
    line-height: 1.19;

    color: var(--secondary-link-color);

    text-decoration-line: underline;
}

.fotogallery-topbox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 52px;
}

.fotogallery-link-btn {
    display: flex;
    align-items: center;
    
}

.fotogallery-btn-list {
    display: flex;
    margin-left: 55px;
}

.fotogallery-btn {
    width: 44px;
    height: 44px;
    border-radius: 50%;

    background-color: var(--white-color);
}

.fotogallery-btn-item:not(:last-child) {
    margin-right: 16px;
}

.fotogallery-list {
    display: flex;
    flex-wrap: wrap;
}

.fotogallery-list-item {
    width: 352px;
    height: 256px;
    margin-right: 32px;
    margin-bottom: 32px;
}

.fotogallery-list-item:nth-child(3n) {
    margin-right: 0;
}

.fotogallery-list-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.fotogallery-img {
    width: 280px;
    height: 190px;

    object-fit: cover;
    border-radius: 0 30px 0 30px
}

.img-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    background-color: rgba(63, 169, 245, 0.2);

    border-radius: 0 30px 0 30px;
}

.img-box::after {
    content: '';
    position: absolute;
    width: 316px;
    height: 223px;

    border: 2px dashed rgba(63, 169, 245, 0.7);
    border-radius: 0 30px 0 30px;

    animation-name: motion;
    animation-duration: 300ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.img-box:hover::after {
    border: 4px dashed rgba(63, 169, 245, 1);
}

@keyframes motion {
    0% {
        border-style: dotted;
    }
    100% {
        border-style: dashed;
    }
}

/* FOOTER */


.footer {
    padding-top: 40px;
    padding-bottom: 45px;

    background-color: var(--footer-bg-color);
}

/* верхний блок */

.footer-top {
    display: flex;

    padding-bottom: 30px;

    /* opacity: 0.2; */
    border-bottom: 1px solid #FFFFFF;
}

.footer-top-box:not(:last-child) {
    margin-right: 76px;
}

.footer-top-title {
    padding-bottom: 17px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.85;

    text-transform: uppercase;

    color: var(--white-color);
}

.footer-top-link {
    font-size: 16px;
    line-height: 1.3;

    color: var(--white-color);

    opacity: 0.8;
}

.footer-top-item:not(:last-child) {
    margin-bottom: 16px;
}

/* нижний блок */

.footer-down {
    display: flex;
    /* justify-content: space-between; */

    padding-top: 32px;
}

/* .footer-down-box:not(:last-child) {
    margin-right: 40px;
} */

.footer-down-text,
.footer-down-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;

    color: var(--white-color);
}

.footer-down-subtext  {
    font-size: 14px;
    line-height: 1.3;

    color: #FFFFFF;

    opacity: 0.8;
}

.footer-down-address {
    display: flex;
}





